/* stylelint-disable comment-empty-line-before */
html {
  font-size: 50px;
  background-color: var(--ah-c-background-bg);
}

/* ----- 默认配置 ----- */
:root {
  /* 动画时间 */
  --ah-t-quick: 0.1s;
  --ah-t-short: 0.2s;
  --ah-t-long: 0.3s;
  --ah-t-slow: 0.4s;
  --ah-t-slower: 0.5s;

  /* 基础颜色 */
  --ah-c-white: #ffffff;
  --ah-c-black: #000000;
  --ah-c-light-1: #f5f5f5;
  --ah-c-light-2: #e8e8e8;
  --ah-c-light-3: #d0d0d0;
  --ah-c-gray-1: #a0a0a0;
  --ah-c-gray-2: #808080;
  --ah-c-gray-3: #606060;
  --ah-c-dark-1: #404040;
  --ah-c-dark-2: #282828;
  --ah-c-dark-3: #181818;

  /* 半透明颜色 */
  --ah-tc-light: rgba(255, 255, 255, 0.08);
  --ah-tc-dark: rgba(0, 0, 0, 0.08);

  /* 尺寸 */
  --ah-breakpoint-xs: 360px; /* 最小屏幕尺寸 */
  --ah-breakpoint-md: 600px; /* 区分手机端与平板尺寸 */
  --ah-breakpoint-xl: 1100px; /* 区分平板与电脑尺寸 */
}

/* ----- 浅色主题(默认) ----- */
/* stylelint-disable-next-line no-duplicate-selectors */
:root {
  color-scheme: light;

  /* 阴影 */
  --ah-s-shadow-1: 0 0 0.4rem rgba(0, 0, 0, 0.1);
  --ah-s-shadow-2: 0 0.05rem 0.4rem rgba(0, 0, 0, 0.08);

  /* 颜色 */
  --ah-c-text1: var(--ah-c-black); /* 一级标题，图标 */
  --ah-c-text2: var(--ah-c-dark-1); /* 正文 */
  --ah-c-text3: var(--ah-c-gray-2); /* 二级标题 */
  --ah-c-text4: var(--ah-c-gray-1); /* 辅助文本 */
  --ah-c-background-card: var(--ah-c-white); /* 卡片 */
  --ah-c-background-bg: var(--ah-c-light-1); /* 背景 */
  --ah-c-background-header: var(--ah-c-white); /* 导航条 */
  --ah-c-background-transparent-drop-down: var(--ah-tc-light); /* 透明背景-下拉菜单 */
  --ah-c-background-transparent-drop-down-hover: rgba(0, 0, 0, 0.05); /* 透明背景-下拉菜单-hover状态 */
  --ah-c-background-button: var(--ah-c-light-2); /* 按钮 */
  --ah-c-background-indicator: var(--ah-c-light-3); /* 页面指示器 */
  --ah-c-background-indicator-active: var(--ah-c-gray-2); /* 页面指示器 - 激活状态 */
  --ah-bg-project: linear-gradient(105deg, transparent 75%, var(--ah-c-background-card) 85%) center;
}

/* 自动适应系统主题 */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    /* 阴影 */
    --ah-s-shadow-1: 0 0 0.4rem rgba(0, 0, 0, 0.5);
    --ah-s-shadow-2: 0 0.05rem 0.4rem rgba(0, 0, 0, 0.3);

    /* 颜色 */
    --ah-c-text1: var(--ah-c-white); /* 一级标题，图标 */
    --ah-c-text2: var(--ah-c-light-1); /* 正文 */
    --ah-c-text3: var(--ah-c-light-2); /* 二级标题 */
    --ah-c-text4: var(--ah-c-gray-1); /* 辅助文本 */
    --ah-c-background-card: var(--ah-c-dark-2); /* 卡片 */
    --ah-c-background-bg: var(--ah-c-black); /* 背景 */
    --ah-c-background-header: var(--ah-c-dark-2); /* 导航条 */
    --ah-c-background-transparent-drop-down: var(--ah-tc-dark); /* 透明背景-下拉菜单 */
    --ah-c-background-transparent-drop-down-hover: rgba(255, 255, 255, 0.05); /* 透明背景-下拉菜单-hover状态 */
    --ah-c-background-button: var(--ah-c-dark-1); /* 按钮 */
    --ah-c-background-indicator: var(--ah-c-dark-1); /* 页面指示器 */
    --ah-c-background-indicator-active: var(--ah-c-gray-2); /* 页面指示器 - 激活状态 */
    --ah-bg-project: linear-gradient(105deg, transparent 75%, var(--ah-c-background-card) 85%) center;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-width: var(--ah-breakpoint-xs);
  min-height: 100vh;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}
