/* 暗色主题 - 手动切换 */
.dark-theme {
  color-scheme: dark;

  /* 阴影 */
  --ah-s-shadow-1: 0 0 0.4rem rgba(0, 0, 0, 0.5);
  --ah-s-shadow-2: 0 0.05rem 0.4rem rgba(0, 0, 0, 0.3);

  /* 颜色 */
  --ah-c-text1: var(--ah-c-white); /* 一级标题，图标 */
  --ah-c-text2: var(--ah-c-light-1); /* 正文 */
  --ah-c-text3: var(--ah-c-light-2); /* 二级标题 */
  --ah-c-text4: var(--ah-c-gray-1); /* 辅助文本 */
  --ah-c-background-card: var(--ah-c-dark-2); /* 卡片 */
  --ah-c-background-bg: var(--ah-c-black); /* 背景 */
  --ah-c-background-header: var(--ah-c-dark-2); /* 导航条 */
  --ah-c-background-transparent-drop-down: var(--ah-tc-dark); /* 透明背景-下拉菜单 */
  --ah-c-background-transparent-drop-down-hover: rgba(255, 255, 255, 0.05); /* 透明背景-下拉菜单-hover状态 */
  --ah-c-background-button: var(--ah-c-dark-1); /* 按钮 */
  --ah-c-background-indicator: var(--ah-c-dark-1); /* 页面指示器 */
  --ah-c-background-indicator-active: var(--ah-c-gray-2); /* 页面指示器 - 激活状态 */
  --ah-bg-project: linear-gradient(105deg, transparent 75%, var(--ah-c-background-card) 85%) center;
}

/* 浅色主题 - 手动切换 */
.light-theme {
  color-scheme: light;

  /* 阴影 */
  --ah-s-shadow-1: 0 0 0.4rem rgba(0, 0, 0, 0.1);
  --ah-s-shadow-2: 0 0.05rem 0.4rem rgba(0, 0, 0, 0.08);

  /* 颜色 */
  --ah-c-text1: var(--ah-c-black); /* 一级标题，图标 */
  --ah-c-text2: var(--ah-c-dark-1); /* 正文 */
  --ah-c-text3: var(--ah-c-gray-2); /* 二级标题 */
  --ah-c-text4: var(--ah-c-gray-1); /* 辅助文本 */
  --ah-c-background-card: var(--ah-c-white); /* 卡片 */
  --ah-c-background-bg: var(--ah-c-light-1); /* 背景 */
  --ah-c-background-header: var(--ah-c-white); /* 导航条 */
  --ah-c-background-transparent-drop-down: var(--ah-tc-light); /* 透明背景-下拉菜单 */
  --ah-c-background-transparent-drop-down-hover: rgba(0, 0, 0, 0.05); /* 透明背景-下拉菜单-hover状态 */
  --ah-c-background-button: var(--ah-c-light-2); /* 按钮 */
  --ah-c-background-indicator: var(--ah-c-light-3); /* 页面指示器 */
  --ah-c-background-indicator-active: var(--ah-c-gray-2); /* 页面指示器 - 激活状态 */
  --ah-bg-project: linear-gradient(105deg, transparent 75%, var(--ah-c-background-card) 85%) center;
}
